<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>Organizaciones Sociales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: orange">
        <div class="container" layout:fragment="page-content" style="background-color: rgba(2,  2, 0, 0.6); border-radius: 10px">    
            <div> <h1 class="text-center text-white">PEDIDOS</h1>
                <h5 class="text-center text-warning">Rellene los datos</h5>
            </div>

            <table class="table text-white">
                <thead>
                    <tr>                        
                        <th scope="col" class="text-white">id</th>
                        <th scope="col" class="text-white">cliente</th>
                        <th scope="col" class="text-white">fecha</th>
                        <th scope="col" class="text-white">reparto</th>
                        <th scope="col" class="text-white">producto</th>
                        <th scope="col" class="text-white">catidad</th>
                        <th scope="col" class="text-white">precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ped :${pedidos}">                        
                        <td th:text="${ped.idpedido}"></td>
                        <td th:text="${ped.cliente}"></td>
                        <td th:text="${ped.fecha}"></td>
                        <td th:text="${ped.reparto}"></td>
                        <td th:text="${ped.producto}"></td>
                        <td th:text="${ped.cantidad}"></td>
                        <td th:text="${ped.precio}"></td>
                        <td>
                            <a th:href="@{/ped/edit/} + ${ped.idpedido}" title="Editar Registro"><i class='fa-solid fa-pen-to-square text-warning me-3'></i></a>
                            <a th:href="@{/ped/del/} + ${ped.idpedido}" title="Eliminar Registro"><i class='fa-solid fa-trash-can text-danger me-3'></i></a>
                        </td>
                    </tr>                    
                </tbody>
            </table>
            <hr>
            <a th:href="@{/ped/form}" class="btn btn-warning">Agregar pedido</a>
            <hr>
        </div>

    </body>
</html>
